<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>

        <h1>About</h1>

        <div>
            <a href="javascript:window.history.back();">Back</a>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}
        
    </body>

</html>