<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>

        <h1>Account</h1>

        <div>
            <a href="/home">Home</a>
        </div>    

        <!--Show name/email-->
        <div class="banner2 row bg-shadow1">
            <h1 class="light">{{user.name}}</h1>
            <div><h3 class="light">also known as &nbsp</h3> <h3 id="nickLabel" class="light">{{user.nick}}</h3></div>
            <h2 class="light">{{user.email}}</h2>
        </div>

        <!--Update nick-->
        <div class="banner2 row bg-shadow2">
            {{>updateNick}}
        </div>

        <!--Update Profile Pic--> 
        <div class="banner2 row bg-shadow1">
            <img src="{{user.profilePic}}" />
            {{>updateProfilePic}}
        </div>

        <!--Sessions-->
        {{>fetchSessions}}

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}

    </body>


</html>