<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>
        
        <h1>Calendar</h1>

        <div>
            <a href="javascript:window.history.back();">Back</a>
        </div>

        <div>
            <iframe src="https://calendar.google.com/calendar/embed?height=700&wkst=1&bgcolor=%23ffffff&ctz=America%2FSao_Paulo&mode=MONTH&showTz=0&showCalendars=0&showPrint=0&showDate=1&showTitle=0&showTabs=1&showNav=1&title=Agenda%20CECOMP&src=NjBzNXNhOTYyZDYyZG5hZG40MTFiM3BsYWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23B39DDB" style="border-width:0" width="1000" height="700" frameborder="0" scrolling="no"></iframe>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}

    </body>


</html>