<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>

        <h1>Contact</h1>

        <div>
            <a href="javascript:window.history.back();">Back</a>
        </div>
        
    </body>


</html>