<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>

        <h1>Index</h1>

        <div>
            <a href="/login">Login</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/links">Links</a>
            <a href="/calendar">Calendar</a>
        </div>

        <!--Requires Level 2 Login-->
        <div>
            <a href="/transparency">Transparency</a>
            <a href="/polls">Polls</a>
        </div>

        <!--Requires Level 0 Login-->
        <div>
            <a href="/certificates">Certificates</a>
        </div>

    </body>


</html>