<!DOCTYPE html>

<html>

    <head>
        {{>head}} 
    </head>

    <body>
        <h1>Login</h1>
        <a href="/">Index</a>
        <a href="/auth/google">Login with google</a>
    </body>


</html>