<!DOCTYPE html>

<html>

    <head>
        {{>head}} 
    </head>

    <body>

        <h1>Login</h1>

        <div>
            <a href="javascript:window.history.back();">Back</a>
            <a href="/auth/google">Login with google</a>
        </div>
        
    </body>


</html>