<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>

        <h1>Polls</h1>
        
        <div>
            <a href="/home">Home</a>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}

    </body>

    

</html>