<!DOCTYPE html>

<html>

    <head>
        {{>head}}
    </head>

    <body>
        
        <h1>Transparency</h1>
        
        <div>
            <a href="/home">Home</a>
        </div>

        <!--Footer-->
        {{>footer}}

        <!--Warning-->
        {{>warning}}

    </body>


</html>