<div>
    <h2>Entre em contato com a CECOMP<h2></div>
</div>
<div style="height:50px"></div>


<div><h3>Motivo do contato<h3></div>
<div>
    <select id="" class="select1">
        <option value="0"></option>
        <option value="1">Sugestão</option>
        <option value="2">Denúncia</option>
        <option value="3">Outro</option>
    </select>
</div>


<div><h3>Email para retorno (opcional)<h3></div>
<input type="text" class="input2" placeholder="">

<div><h3>Mensagem<h3></div>
<textarea name="textarea" rows="5" cols="30" style="resize: none; width:700px; min-height:400px;"></textarea>


<!--forms JS-->
<script src="\js/forms/formContact.js"></script>