<div class="banner2"></div>

<div class="banner1">
    <h2>Este recurso pode ser solicitado apenas por alunos da USP.<h2>
</div>

<div class="banner2">
    <h3>Tente entrar com seu email institucional usp.br<h3>
</div>